### Write a SQL Query to fetch all the duplicate records in a table.

https://techtfq.com/blog/learn-how-to-write-sql-queries-practice-complex-sql-queries

In [ ]:
with add_row_number as (
	select *,
		row_number() over (
			partition by user_name
			order by user_id
		) as rn
	from users
	order by user_id
)
select user_id, user_name, email 
from add_row_number arn
where arn.rn != 1 ## select only first occuring user information